#mode modules
/frontend1/node_modules
/backend/node_modules

#confidential
/backend/.env

#debugging
/backend.eslintignore

#not used
/backend/mongo.js

#package lock.json unnecessary
/frontend1/package-lock.json
/backend/package-lock.json
